@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-100;
  }
}

/* Custom Sleek Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #090d16;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #0f172a !important;
  }
}
